
// img {
//     width: 100%;
//     height: auto;
// }

// .message {
//     color: red;
// }

.header2{
    text-align: center;
    background-color: #ededee;
    border-top: 5px solid #e2e3e4;
    padding-top: 20px;
}
.breadcrumb{
    background-color: transparent;
    padding: 0px;
}
ol>li>a{
    color: #00aeef;
}
.breadcrumb>li+li:before {
    color: #00aeef;
    content: "|";
}
.active{
    background-color: transparent;
}
.kind>p{
    float: left;
    margin-right: 5px;
}
.pick-option{
    padding-bottom: 30px;
    background-color: white;
}
h3{
    text-align: center;
}
.qr-option{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: transparent;
}
.page{
    text-align: center;
}

.qr-table>td{
    padding: 0px;
    height: 60px;
    width: 163px;
}
.qr-table > td > .active{
    background-color: #0099ff;
    color: white;
    box-shadow: none;
}
.display{
    background-color: #ededee;
    border-top: 5px solid #e2e3e4;
    padding-bottom: 30px;
}

.display-qrcode{
    padding: 30px 60px 0 60px;
}
.display-qrcode> img{
    width: 100%;
}
.display-form{
  text-align: center;
}
.display-form>h1,p{
  
    padding-bottom: 10px;
}