<div class="app-user">
<li class="dropdown">
       <div class="user-avatar" (click)="hidden=!hidden" (blur)="onBLur()">
            <span i18n>Hello </span> {{ username | async}}
        </div>
          <a href="#" class="dropdown-toggle dropdown-ava" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a (click) = "Refresh()"><i class="fa fa-refresh"></i> <span i18n>Refresh</span></a></li>
            <li><a (click)="setting=true"><i class="fa fa-cog"></i><span i18n>Setting</span></a></li>
            <li><a (click)="Logout()"> <i class="fa fa-power-off"></i> <span i18n>Logout</span></a></li>
          </ul>
        </li>
<div class="modal" *ngIf="setting">
    <div class="dialog hl-dialog-user">
        <user-setting (close)="setting=false"></user-setting>
    </div>
</div>
</div>